/MyProject/nbproject/private/
/pt1csd/nbproject/private/
/assignment1/nbproject/private/
/MyProject/dist/
/MyProject/build/
/pt2/nbproject/private/
/pt2/dist/
/pt2/build/
/Project/MyProject/build/
/Project/MyProject/nbproject/private/
